<!DOCTYPE html>
<html lang="ro">

<head>
    <link rel="stylesheet" href="../../assets/css/dam.css">
    <link rel="stylesheet" href="../../assets/css/meniuri.css">
    <link rel="stylesheet" href="../../assets/css/utils.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="shortcut icon" type="image/png" href="../../assets/images/jerry.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project repository</title>
</head>

<body>
    <header>
        <div class="header">
            <h2 class="logo">MENIU</h2>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fas fa-ellipsis-h"></i>
            </label>

            <nav class="meniu">
                <a href="../home/home_student.html"><i class="fas fa-home"></i> Home</a>
                <a href="../project-list/project-list-professor.html"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
                <a href="../my-projects.html">Proiectele mele</a>
                <a href="../set_alert.html">Add event</a>
                <a href="../newsfeed/newsfeed-professor.html"><i class="far fa-newspaper"></i> Newsfeed</a>
                <a href="../send_message/send_message_profesor.html"><i class="far fa-envelope"></i> Send message</a>
                <a href="../home/home_nelogat.html">Logout</a>
                <a href="../setari/setari-profi.html"><i class="fas fa-cog"></i> Setari</a>

                <label for="chk" class="hide-menu-btn">
                    <i class="fas fa-times"></i>
                </label>
            </nav>
        </div>
    </header>

    <main>
        <img class="flex-wrapper-row image_center" alt="Repository" src="../../assets/images/repo.png" />
    </main>
</body>

</html>