<!DOCTYPE html>
<html lang="ro">

<head>
    <link rel="stylesheet" href="../../assets/css/dam.css">
    <link rel="stylesheet" href="../../assets/css/meniuri.css">
    <link rel="stylesheet" href="../../assets/css/utils.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="shortcut icon" type="image/png" href="../../assets/images/jerry.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Preview project</title>
</head>

<body>
    <header>
        <div class="header">
            <ul class="meniu">
                <a href="#"><i class="fas fa-home"></i> Home</a>
                <a href="#"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
                <a href="#">Proiectul meu</a></li>
                <a href="#"><i class="far fa-newspaper"></i> Newsfeed</a>
                <a href="#">Logout</a></li>
                <a href="#"><i class="fas fa-cog"></i> Setari</a>
            </ul>
        </div>
    </header>

    <main id="preview_project_all" class="flex-wrapper-row">
        <section class="project_data bubbles">
            <article class="red_bubble bubble_base">
                <p class="description_label">Scrie mesaj: </p>
                <div class="flex_wrapper_definitelly_row">
                    <p class="description_textbox write_message_textbox">
                        <button type="button" class="btn">Trimite mesaj profesorului</button>
                    </p>
                </div>
            </article>

            <div class="scrollable_window">
                <article class="blue_bubble bubble_base">
                    <p class="description_label">Mesaj student: Am schimbat documentatia</p>
                    </p>
                    <p class="description_textbox">
                        Buna ziua. Am schimbat ce era de schimbat.
                        <button type="button" class="btn">Raspunde</button>
                    </p>
                </article>

                <article class="red_bubble bubble_base">
                    <p class="description_label">Mesaj profesor: Schimba documentatia</p>
                    </p>
                    <p class="description_textbox">Ar merge sa schimbi documentatia la pagina 2.
                        <button type="button" class="btn">Raspunde</button>
                    </p>
                </article>

                <article class="blue_bubble bubble_base">
                    <p class="description_label">Commit nou: Preview project page first version </p>
                    <p class="description_textbox">17 hours ago. 72 additions and 0 deletions.
                        <a href="https://github.com/xTachyon/acatism/commit/1f9c9044907c60bba26045f851c25ea429bbecf8">Link
                            catre commit</a></p>
                </article>
            </div>

            <article class="red_bubble bubble_base">
                <p class="description_label">Titlu proiect: </p>
                <p class="description_textbox">Transpiler C++ to Rust</p>
            </article>

            <article class="blue_bubble bubble_base">
                <p class="description_label">Descriere proiect: </p>
                <p class="description_textbox">Folosing libclang(sau libtooling), din C++ sau Rust, scris un transpiler
                    care primeste ca input o sursa C++ si generaza la output o sursa Rust, echivalenta cu sursa C++ de
                    la input.</p>
            </article>

            <article class="red_bubble bubble_base">
                <p class="description_label">Profesor: </p>
                <p class="description_textbox">Mihai Eminescu</p>
            </article>

            <article id="resources" class="blue_bubble bubble_base">
                <p class="description_label">Resources: </p>
                <p class="description_textbox">Libclang: <a href="https://clang.llvm.org/doxygen/group__CINDEX.html">Link</a>
                    <br>Rust book: <a href="https://doc.rust-lang.org/book/">hLink</a></p>
            </article>

            <article class="red_bubble bubble_base">
                <p class="description_label">Git repository: </p>
                <p class="description_textbox"><a href="https://github.com/xTachyon/acatism">Link</a>. <a href="../repository_page.html">Link intern</a></p>
            </article>

            <article class="blue_bubble bubble_base">
                <p class="description_label">Renunta la proiect: </p>
                <p class="description_textbox"><button type="button" class="btn">Renunta !</button></p>
            </article>

            <article class="red_bubble bubble_base">
                <p class="description_label">Tags: </p>
                <p class="description_textbox">
                    <ul class="tag-area center_thing">
                        <li>
                            <input type="checkbox" id="tag-checkbox1" class="tag-checkbox">
                            <label for="tag-checkbox1" class="tag">C++</label>
                        </li>
                        <li>
                            <input type="checkbox" id="tag-checkbox2" class="tag-checkbox">
                            <label for="tag-checkbox2" class="tag">Rust</label>
                        </li>
                        <li>
                            <input type="checkbox" id="tag-checkbox3" class="tag-checkbox">
                            <label for="tag-checkbox3" class="tag">Clang</label>
                        </li>
                    </ul>
                </p>
            </article>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%2333ff33&amp;src=1va1gkombr2cfl30um5moou1ms%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=Europe%2FBucharest"
                style="border-width:0" width="80%" height="600" frameborder="0" scrolling="no"></iframe>
        </section>
    </main>
</body>

</html>