.flex-wrapper-row {
    display: flex;
    flex-direction: column;
}   

body {
    background-color: #34495e;
}

main {
    margin-top: calc(10vh + 0.5rem);
}

.description_label {
    font-size: 2.5rem;
    font-weight: bold;
    /* text-decoration: underline; */
    margin-left: 2rem;
    color: white;
}

.description_textbox {
    font-size: 1.5rem;
    color: white;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.bubbles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubble_base {
    border-style: solid;
    border-radius: 3rem;
    width: 70%;
    border-width: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.red_bubble {
    border-color: #6A95BF;
    background-color: #233240;
}

.blue_bubble {
    border-color: #6A95BF;
    background-color: #47637F;
}

a {
    color: yellow;
}

.image_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }