.flex-wrapper-row {
    display: flex;
    flex-direction: column;
}

.flex_wrapper_definitelly_row {
    display: flex;
    flex-direction: row;
}   

body {
    background-color: var(--background-color); 
}

main {
    margin-top: 10vh;
}

.description_label {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 2rem;
    color: var(--text-color);
}

.description_textbox {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    align-self: center;
    justify-content: center;
}

.bubbles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bubble_base {
    border-style: solid;
    border-radius: 3rem;
    width: 70%;
    border-width: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.red_bubble {
    border-color: var(--select-color);
    background-color: var(--border-color);
}

.blue_bubble {
    border-color: var(--border-color);
    background-color: var(--select-color);
}

a {
    color: yellow;
}

.image_center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .scrollable_window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30rem;
    overflow: scroll;
    margin-bottom: 5rem;
    border-color: antiquewhite;
    border-width: 1rem;
}

.header {
    position: static !important;
}

.write_message_textbox {
    display: flex;
    width: 80%;
    height: 5rem;
    max-height: 5rem;
    font-size: large;
    color: var(--secondary-text-color);
}

.center_thing {
    align-self: center;
}

.calendar {
    display: flex;
    border-width: 0;
    width: 80%;
    height: 30rem;
}

.big_title {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.button {
    align-self: center;
}

@media(max-width: 500px) {
    .bubble_base {
        padding: 0rem;
        width: 95%;
    }

    .description_label {
        font-size: 2rem;
    }

    .description_textbox {
        margin-left: 0.5rem;
        margin-right: 0;

    }

    .big_title {
        font-size: 3rem;
    }
}