html, body {
    background: white;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    display: inline;
    font-size: 2.4rem;
    color: white;
    margin: 0;
}
h2 {
    display: block;
    font-size: 2rem;
    color: white;
    margin: 0;
}

p {
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

.Site{
    min-height: 100vh; /* 100% of the viewport */
    display: block;
    position: relative;
}
#Site-content{
    flex: 1;
}

.flex-content-center {
    align-items: center;
    justify-content: center;
}
header{
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;

    background: #89A9B7;
    border-bottom: .5rem solid #102C38;
}
footer {
    width: 100%;
    height: 5vh;
    position: sticky;
    bottom: 0;

    background: #89A9B7;
    border-top: .5rem solid #102C38;
}
footer .triangle{
    margin: 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
}
footer .triangle[direction="left"] {
    transform: rotate(180deg);
}

.flex-wrapper-col {
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
}

.flex-wrapper-row {
    display: flex;
    flex-direction: row;
    padding: 0.1rem;
}
/* for the filters menu */
.filter-menu {
    position: sticky;
    top: calc(10vh + 0.5rem);
    height: auto;
    align-self: self-start;

    background: #3F6677;
    border: medium solid #102C38;
    border-left: .5rem solid #102C38;

    flex: 1;
    overflow: hidden;

    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}
.filter-menu h1 {
    display: block;
    border-bottom: .5rem solid #102C38;
}

.filter-menu ul {
    list-style-type: disk;
    font-size: 2rem;
    color: white;
}

#show-filters-checkbox {
    display: none;
}
#show-filters{
    position: sticky;
    align-self: self-start;
    top: calc(10vh + 0.5rem);
    cursor: pointer;
    flex: 0;
}

#show-filters .triangle{
    /* this makes the triangle */
    width: 0;
    height: 0;
    border-top: 1.4rem solid transparent;
    border-left: 1.4rem solid #102C38;
    border-bottom: 1.4rem solid transparent;
    /* other settings */
    margin: 0.1rem;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

#show-filters-checkbox:checked ~ label ~ .filter-menu {
    flex: 0;
}
#show-filters-checkbox:not(:checked) ~ label  .filter-menu {
    float: 1;
}
#show-filters-checkbox:checked ~ label > .triangle {
    transform: rotate(0deg);
}
#show-filters-checkbox:not(:checked) ~ label > .triangle {
    transform: rotate(180deg);
}
/*
Setari pentru lista accordion
*/
.accordion {
    flex: 3;
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: .25rem;
}
.accordion ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.accordion li {
    margin: 0;
    padding: 0;
}
.accordion [type=checkbox] {
    display: none;
}
.accordion label {
    display: block;
    border-left: .5rem solid #102C38;
    background: #102C38;
    cursor: pointer;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

.accordion ul li label:hover, .accordion [type=checkbox]:checked ~ label{
     background: #3F6677;
     border: medium solid #102C38;
     border-bottom-style: none;
     border-left: .5rem solid #102C38;
}

.accordion [type=checkbox]:not(:checked) ~ label:not(:hover){
    background: #102C38;
}

.accordion .content {
    overflow: hidden;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    background: #3F6677;
}

.accordion [type=checkbox]:checked ~ label ~ .content {
    height: 300px;
    overflow-y: scroll;
    border: medium solid #102C38;
    border-left: 0.5rem solid #102C38;
    padding: 0.5rem;
}

.accordion [type=checkbox]:not(:checked) ~ label ~ .content {
    height: 0;
}

/*  
custom-scrollbar
*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(63,102,119,1);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 8px rgba(16,44,56,1);
    border-radius: 12px;
}

/* triangle */
.triangle {
    width: 0;
    height: 0;
    border-top: 1.0rem solid transparent;
    border-left: 1.0rem solid #102C38;
    border-bottom: 1.0rem solid transparent;
}