
html, body {
    --background-blue: #34495e;
    --border-blue:  #102C38;
    --select-blue: #008080;
    background: var(--background-blue);
    margin: 0;
    overflow: hidden;
    height: 100%;
}

h1 {
    display: inline;
    font-size: 1.5rem;
    color: inherit;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
}

h2 {
    display: block;
    font-size: 1.2rem;
    color: inherit;
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 1rem;
}

.Site{
    min-height: 100vh;
    display: block;
    position: relative;
}

#Site-content{
    flex: 1;
    height: inherit;
}

.flex-content-center {
    align-items: center;
    justify-content: center;
}

header{
    width: 100%;
    height: 10vh;
	background :var(--background-blue);
    top: 0;
    border-bottom: .5rem solid var(--border-blue);
}

.header {
    height: 10vh;
    border-bottom: .5rem solid var(--border-blue);
}

footer {
    width: 100%;
    height: auto;

    background: var(--background-blue);
    border-top: .5rem solid var(--border-blue);
}

footer .triangle{
    margin: 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

footer .triangle[facing="left"] {
    transform: rotate(180deg);
}

.flex-wrapper-col {
    display: flex;
    flex-direction: column;
}

.flex-wrapper-row {
    display: flex;
    flex-direction: row;
}
/* for the filters menu */
.filter-menu {
    height: inherit;
    background: var(--background-blue);
    border-left: .25rem solid var(--border-blue);
    border-right: .25rem solid var(--border-blue);
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;

    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

.filter-menu > form{
    padding: 2%;
}

.filter-menu h1 {
    display: block;
    border-bottom: .2rem solid var(--border-blue);
    margin: 0;
    margin-bottom: 1rem;
}

.filter-menu > form > ul {
    list-style-type: disk;
    font-size: 2rem;
    color: white;
}
.filter-menu > form > ul > li {
    margin: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom:.1rem solid var(--border-blue);

}

#show-filters-checkbox {
    display: none;
}
#show-filters{
    height: inherit;
    cursor: pointer;
    flex: 0;
    background :var(--background-blue);
}


#show-filters .triangle{
    /* this makes the triangle */
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 1rem solid white;
    border-bottom: 1rem solid transparent;
    /* other settings */
    margin: 0.3rem;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

#show-filters-checkbox:checked ~ label ~ .filter-menu {
    flex: 0;
}
#show-filters-checkbox:not(:checked) ~ label  .filter-menu {
    float: 1;
}
#show-filters-checkbox:checked ~ label > .triangle {
    transform: rotate(0deg);
}
#show-filters-checkbox:not(:checked) ~ label > .triangle {
    transform: rotate(180deg);
}

.filter-menu input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    color: white;
    width: 60%;
    
}
.filter-menu input[type="text"]:focus{
    font-size: 1.2rem;
    width: 80%;
}
::placeholder{
    color: white;
}

#select-grad {
    font-size: 1rem;
    width: 60%;
}

.btn[value="Filtreaza"]{
    font: 1.2rem;
    width: calc(auto + 2vw);
}
/*
Settings for the accordion list
*/
.accordion {
    flex: 3;
    height: inherit;
    display: block;
    margin-left: 3%;
    padding-right: 3%;
    overflow-y: scroll;
}
.accordion ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.accordion li {
    margin: 0;
    padding: 0;
}
.accordion [type=checkbox] {
    display: none;
}
.accordion label {
    border-left: .5rem solid var(--border-blue);
    background: var(--border-blue);
    cursor: pointer;
    color: white;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

.accordion label h1 {
    display: inline-block;
    flex: 1;
}
.accordion label button{
    flex: 0;
}

.accordion ul li label:hover, .accordion [type=checkbox]:checked ~ label{
     background: var(--select-blue);
     border: medium solid var(--select-blue);
     border-bottom-style: none;
     border-left: .5rem solid var(--select-blue);
     color: var(--border-blue);
    }

.accordion [type=checkbox]:not(:checked) ~ label:not(:hover){
    background: var(--border-blue);
    border-color: var(--border-blue);
}

.accordion .content {
    overflow: hidden;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    background: #EEFFFF;
    color: black;
    font-size: 1.2rem;
}

.accordion [type=checkbox]:checked ~ label ~ .content {
    height: 30vh;
    overflow-y: scroll;
    border: medium solid var(--select-blue);
    border-left: 0.5rem solid var(--select-blue);
    padding: 0.5rem;
}

.accordion [type=checkbox]:not(:checked) ~ label ~ .content {
    height: 0;
}

/* utils */

/* custom-scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(52, 73, 94, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 8px rgba(0,0,0,1);
    border-radius: 12px;
}

/* triangle */
.triangle {
    width: 0;
    height: 0;
    border-top: 1.0rem solid transparent;
    border-left: 1.0rem solid var(--border-blue);
    border-bottom: 1.0rem solid transparent;
}

/* tags and tag area */
ul.tag-area{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tag-area li {
    display: inline;
}

.tag-checkbox {
    display: none;
}

.tag {
    font-size: 1rem;
    background: #eee;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
    color: #999;
    display: inline-block;
    height: auto;
    line-height: 1.2rem;
    padding: 0 .2rem 0 .23rem;
    position: relative;
    margin: 0 .1rem .1rem 0;
    text-decoration: none;
    transition: color .2s;
    -webkit-transition: color .2s;
}

.tag-checkbox:checked ~ .tag, .tag:hover{
    background-color: var(--select-blue);
    color: white;
}

.btn{
    background: var(--border-blue);
    border: none;
    border-width: .2rem;
    border-style: solid;
    border-color: white;
    margin: .2rem;
	color: white;
    padding: 0.1rem;
    padding-right: .5rem;
    padding-left: .5rem;
	font-size: 2rem;
	cursor: pointer;
}

.btn:hover, btn:focus {
    border-color: var(--border-blue);
    color: var(--border-blue);
    background-color: var(--select-blue);
}

/* responsiveness */
@media (orientation: portrait){
    #Site-content.flex-wrapper-row {
        flex-direction: column;
    }

    #show-filters .triangle{
        /* this makes the triangle */
        border-left: 1rem solid transparent;
        border-top: 1rem solid white;
        border-right: 1rem solid transparent;
    }

    .filter-menu{
        flex: 2;
        border: none;
        border-top: .25rem solid var(--border-blue);
        border-bottom: .25rem solid var(--border-blue);
    }
}

@media(max-width: 800px){
    html, body{
        font-size: 0.75rem;
    }
    .btn {
        font-size: 1.5rem;
    }
    .accordion label h1 {
        font-size: 1.2rem;
    }
}
@media(min-width: 2400px){
    html, body{
        font-size: 1.75rem;
    }

}