<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Acatism - Home</title>
    <meta name="description" content="Acatism Homepage">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="../../assets/css/meniuri.css">
    <link rel="stylesheet" href="../../assets/css/project-list.css">
    <link rel="stylesheet" href="../../assets/css/message.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>
</head>

<body>
  <header>
    <div class="header">

      <h2 class="logo">MENIU</h2>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
      </label>

      <nav class="meniu">
        <a href="../home/home_student.html"><i class="fas fa-home"></i> Home</a>
        <a href="../project-list/project-list-student.html"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
        <a href="../preview_project/preview_project_students.html">Proiectul meu</a>
        <a href="../newsfeed/newsfeed-student.html"><i class="far fa-newspaper"></i> Newsfeed</a>
        <a href="#"><i class="far fa-envelope"></i> Send message</a>
        <a href="../home/home-nelogat.html">Logout</a>
        <a href="../home/setari/setari-student.html"><i class="fas fa-cog"></i> Setari</a>

        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>
      </nav>
    </div>
  </header>
    <main id="Site-content" class="flex-wrapper-row">
        <form>
            <li>
                <!-- in loc de destinatari e sending message to profulescu in cealalta pagina -->
                <p>
                    <h1>Destinatar: Varlan Cosmin</h1>
                </p>
                <h1>Subiect:</h1>
                <p><input type="text" required=true name="title"></p>
                <h1>Continut:</h1>
                <p><textarea class="bigtextinput" required=true></textarea></p>
                <p><a href="#"><input value="trimite mesaj" type="submit" class="styled"></input></a></p>
            </li>
        </form>
    </main>
</body>

</html>