<!-- Facut de Iacob Daniel ,aici am implementat meniul pentru studentii ce sunt logati-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>Meniu Student</title>
    <link rel="stylesheet" href="../../assets/css/meniuri.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  <body>
    <header>
      <div class="header">
  
        <h2 class="logo">MENIU</h2>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
          <i class="fas fa-ellipsis-h"></i>
        </label>
  
        <nav class="meniu">
          <a href="#"><i class="fas fa-home"></i> Home</a>
          <a href="#"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
          <a href="#">Proiectul meu</a>
          <a href="#"><i class="far fa-newspaper"></i> Newsfeed</a>
          <a href="#"><i class="far fa-envelope"></i> Send message</a>
          <a href="#">Logout</a>
          <a href="#"><i class="fas fa-cog"></i> Setari</a>
  
          <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
          </label>
        </nav>
      </div>
  
  
  <center>
  <p> AICI POT SA SCRIU CHESTII </p>  
  </center>
  
  <p>AICI POT SA SCRIU SI MAI MULTE CHESTII</p>
  </body>
  </html>