
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>Setari student</title>
    <link rel="stylesheet" href="../../assets/css/setari-student.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  <body>
  <div class="setari">
     <h1>Modifica-ti setarile</h1>
	 
  <div class="Setri-de-cont">
        <li>Setari de cont 
        <ul>
            <li>Schimba parola  <div class="textbox"><i class="fas fa-lock"></i>
	                                           <input type="password" placeholder="Noua parola" name="" value="">
	                           </div></li>
							   
							   
			<li>Confirmare parola noua    <div class="textbox"><i class="fas fa-lock"></i>
	                                           <input type="password" placeholder="Introdu iar parola" name="" value="">
	                                      </div></li>


			
            <li>Schimba email   <div class="textbox"><i class="fas fa-at"></i>
	                                            <input type="email" placeholder="Noul Email " name="" value="">
	                             </div></li>
			
			
        </ul>
    </li>
	</div>
  
  <div class="Setari-de-interfata"> 
         <li>Setari de interfata 
        <ul>
            <li>Numar elemente pe pagina news  <div class="textbox">
	                                           <input type="number" placeholder="Introdu un numar" name="" value="">
	                           </div></li>
							   
							   
			<li>Numar de elemente pe pag. proiect    <div class="textbox">
	                                           <input type="number" placeholder="Introdu un numar" name="" value="">
	                                      </div></li>


			
            <li>Culoare background  <div class="textbox">
	                                 <input type="text" placeholder="Introdu cod sau nume " name="" value="">
	                             </div> </li>
			
			
			
			<li>Culoare border :  <div class="textbox">
	                                 <input type="text" placeholder="Introdu cod sau nume " name="" value="">
	                             </div>  </li>
			<li>Culoare text :  <div class="textbox">
									<input type="text" placeholder="Introdu cod sau nume " name="" value="">
	                             </div> </li>
			<li>Culoare select :  <div class="textbox">
									<input type="text" placeholder="Introdu cod sau nume " name="" value="">
	                             </div> </li>
			
        </ul>
    </li>
	</div>
	
	

   <div class="Setari-de-notificari"> 
         <li>Setari de notificari 
		    <ul>
			
			  <li>Notifica slab     <input type="checkbox" id="chk"></li>
			  <li>Notifica mediu    <input type="checkbox" id="chk"></li>
			  <li>Notifica puternic <input type="checkbox" id="chk"></li>
			  <li>Nu ma notifica    <input type="checkbox" id="chk"></li>
  
  <!--   <ul class="nu-ma-notifica">  --> 
       <!--   <li>Notifica slab <input type="checkbox" id="chk"></li> -->
		 <!-- <li>Notifica mediu <input type="checkbox" id="chk"></li> -->
		 <!-- <li>Nu ma notifica <input type="checkbox" id="chk"></li> -->
		
  
  
  
  
  
  
  
  
  
  </div>
  </body>
  </html>