<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Acatism - Home</title>
    <meta name="description" content="Acatism Homepage">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../DAN/meniuri.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>
</head>

<body>
    <header>
    <div class="header">

      <h2 class="logo">MENIU</h2>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
      </label>


      <nav class="meniu">
        <a href="#"><i class="fas fa-home"></i> Home</a>
        <a href="#"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
        <a href="#">Proiectele mele</a>
        <a href="#">Add event</a>
        <a href="#"><i class="far fa-newspaper"></i> Newsfeed</a>
        <a href="#"><i class="far fa-envelope"></i> Send message</a>
        <a href="#">Logout</a>
        <a href="#"><i class="fas fa-cog"></i> Setari</a>


        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>

      </nav>
    </div>
  </header>
    <nav class="main">
        <div class="studBG"></div>
        <nav class="studRow">
            <div class="centerContent">

                <h2>Acatism pentru studenti</h2>
                <ul>
                    <li>Alege-ti o teza de licenta/master in functie de preferinte.</li>
                    <li>Inscrie-te fara dificultati la un proiect.</li>
                    <li>Primeste indrumari pe aplicatie si e-mail.</li>
                </ul>
                <div class="buttonRow">
                    <button type="button" class="favorite styled">Lista proiecte</button>
                    <button type="button" class="favorite styled">Autentificare</button>
                </div>

            </div>
        </nav>
        <nav class="profRow">
            <div class="centerContent">
                <h2>Acatism pentru profesori</h2>
                <ul>
                    <li>Gestioneaza o lista cu proiecte propuse.</li>
                    <li>Urmareste progresul studentilor la tezele de licenta/master.</li>
                    <li>Planifica deadline-uri si evenimente.</li>
                </ul>
                <div class="buttonRow">
                    <button type="button" class="favorite styled">Autentificare</button>
                </div>
            </div>
        </nav>
        <div class="profBG"></div>

    </nav>
    <nav class="desc">
        <p>Cu aplicatia web Acatism se poate realiza managementul tezelor de licenta/master din facultate.</p>
        <p>Ca student, poti vedea liste de proiecte propuse de fiecare profesor, si te poti inscrie la cele care nu au
            fost inca alese de altcineva. Poti comunica cu profesorul indrumator prin e-mail in timpul creatiei lucrarii
            de licenta. Aplicatia va semnala probleme cu privire la standardele de redactare in documentatia licentei.
        </p>
        <p>Ca profesor, poti personaliza propria lista de proiecte propuse cu toate detaliile necesare. Ai abilitatea de
            a accepta ca studentii sa realizeze proiectele ca teze de licenta/master, prin planificarea unor etape
            importante in cadrul creerii si sustinerii acestora.</p>
    </nav>
    <footer class="creditRow">
        <div class="centerContent">
            <p>Aplicatie realizata de Andrei Damian, Daniel Iacob, Lipan Matei, Salceanu Sergiu.</p>
        </div>
    </footer>
</body>

</html>