
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/Login.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  <body>
  <div class="box-login">
     <h1>Login</h1>
	 <div class="textbox"><i class="fas fa-user"></i>
	    <input type="text" placeholder="Nume Utilizator" name="" value="">
	</div>
	
	<div class="textbox"><i class="fas fa-lock"></i>
	    <input type="password" placeholder="Parola" name="" value="">
	</div>
	
	<a href="admin/admin-profi.html">
	<input   class="btn" type="button" name="" value="Sign in"></a>
	
	
	</div>
	<body>
	</html>