<!-- Facut de Iacob Daniel , aici am implemetat meniul ce ii apare profesorului ce este logat-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <title>Meniu Profesor</title>
    <link rel="stylesheet" href="../assets/css/meniuri.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  <body>
  <div class="header">
  
  <h2 class="logo">MENIU</h2>
  <input type="checkbox" id="chk">
    	<label for="chk"   class="show-menu-btn">
	    <i class="fas fa-ellipsis-h"></i>
    </label>	
	
	
  <ul class="meniu">
   <a href="#"><i class="fas fa-home"></i> Home</a>
   <a href="#"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
   <a href="#">Proiectele mele</a></li>
   <a href="#">Add event</a></li>
   <a href="#"><i class="far fa-newspaper"></i> Newsfeed</a>
   <a href="#"><i class="far fa-envelope"></i> Send message</a></li>
   <a href="#">Logout</a></li>
   <a href="#"><i class="fas fa-cog"></i> Setari</a> 
   
   
   <label for="chk"   class="hide-menu-btn">
	    <i class="fas fa-times"></i>
    </label>	
   
   </ul>
  </div>
  
  
  <center>
  <p> AICI POT SA SCRIU CHESTII </p>  
  </center>
  
  <p>AICI POT SA SCRIU SI MAI MULTE CHESTII</p>
  </body>
  </html>