<!DOCTYPE html>
<html lang="ro">
  <head>
    <link rel="stylesheet" href="../assets/css/meniuri.css">
    <link rel="stylesheet" href="../assets/css/my-projects.css">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acatism Project-List</title>
  </head>
  <!-- in this page you will be able to see the project-list -->
  <body class="flex-wrapper-col Site">
      <!-- @Daniel -->
      <!-------------------------------------------------------------------->
      <header>
        <div class="header">
            <ul class="meniu">
             <a href="#"><i class="fas fa-home"></i> Home</a>
             <a href="#"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
             <a href="#">Proiectele mele</a></li>
             <a href="#">Add event</a></li>
             <a href="#"><i class="far fa-newspaper"></i> Newsfeed</a>
             <a href="#">Logout</a></li>
             <a href="#"><i class="fas fa-cog"></i> Setari</a> 
            </ul>
        </div>
      </header>
      <!-------------------------------------------------------------------->
      <!-- @Matei -->
      <!-------------------------------------------------------------------->
      <main id="Site-content" class="flex-wrapper-col">
        <!-- accordion project-list -->
        <div class="accordion">
            <!-- new project button -->
            <section class="new-project-warper">
                <a class="btn" href="#">Add a new Project</a>
            </section>
            <!-- the beginning of the project list -->
            <ul>
            <li> <!-- list element -->
                <input type="checkbox" id="checkbox1" />
                <label for="checkbox1" class="flex-wrapper-row flex-content-center">
                <h1>Varlan Cosmin - Aplicatie android pentru realizarea fotografiilor 3D (sfera)</h1>
                <a href="#" class="btn">Preview</a>
                <a href="#" class="btn">Edit</a>
                <a href="#" class="btn">Add Event</a>
                <a href="#delete-safety-pop-up1" class="btn safe-delete">Delete</a>
                    <!-- delete safety popup -->
                    <section id="delete-safety-pop-up1" class="delete-safety-pop-up">
                            <h1>Esti sigur ca vrei sa stergi: "Aplicatie android pentru realizarea fotografiilor 3D (sfera)" ?</h1>
                            <br>
                            <input class="btn" type="submit" name="" value="Yes">
                            <a class="btn" href="#">No</a>
                    </section>
                </form>
                </label>
                <section class="content">
                <p>
                    Aceasta aplicatie va face poze 3D precum masina de la google.
                </p>
                </section>
            </li>
            <li> <!-- list element -->
                <input type="checkbox" id="checkbox4" />
                <label for="checkbox4" class="flex-wrapper-row flex-content-center">
                <h1>Varlan Cosmin - Recunoasterea automata a semnelor de circulatie</h1>
                <a href="#" class="btn">Preview</a>
                <a href="#" class="btn">Edit</a>
                <a href="#" class="btn">Add Event</a>
                <a href="#delete-safety-pop-up2" class="btn safe-delete"> Delete </a>
                    <!-- delete safety popup -->
                    <section id="delete-safety-pop-up2" class="delete-safety-pop-up">
                            <h1>Esti sigur ca vrei sa stergi: "Recunoasterea automata a semnelor de circulatie" ?</h1>
                            <br>
                            <input class="btn" type="button" name="" value="Yes">
                            <a class="btn" href="#">No</a>
                    </section>
                </form>
                </label>
                <section class="content">
                <p>
                    O aplicatie care cu ajutorul unei mici camere video sa recunoasca cemnalele semaforului. Camera trebuie sa fie la bordul unei masini si sa recunoasca semnalele in real-time.
                </p>
                </section>
            </li>
            <li> <!-- list element -->
                <input type="checkbox" id="checkbox5" />
                <label for="checkbox5" class="flex-wrapper-row flex-content-center">
                <h1>Varlan Cosmin - Sistem distribuit pentru compilarea si verificarea problemelor C/C++</h1>
                <a href="#" class="btn">Preview</a>
                <a href="#" class="btn">Edit</a>
                <a href="#" class="btn">Add Event</a>
                </label>
                <section class="content">
                <p>
                    Un sistem distribuit pentru compilarea si verificarea problemelor C/C++ ce va putea fi folosit pentru o mai rapida verificare a numeroase programe voluminoase de C/C++.
                    Posibile utilizari: punctaj OJI.
                </p>
                </section>
            </li>
            </ul>
        </div>
      </main>
      <!-- footer -->
      <footer class="flex-wrapper-row flex-content-center">
        <a href="#"><div class="triangle" facing="left"></div></a>
        <p>Page 1 out of 1</p>
        <a href="#"><div class="triangle" facing="right"></div></a>
      </footer>
      <!-------------------------------------------------------------------->
  </body>
</html>