<!DOCTYPE html>
<html lang="ro">
  <head>
    <link rel="stylesheet" href="..\assets\css\mlStyle.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acatism Project-List</title>
  </head>
  <body class="flex-wrapper-col Site">
      <!-- in this page you will be able to see the project-list -->
      <!-- meniu from Daniel -->
      <header>
        slafkjsklj
      </header>
      <main id="Site-content" class="flex-wrapper-row">
        <input type="checkbox" id="show-filters-checkbox"/>
        <label for="show-filters-checkbox" id="show-filters">
            <div class="triangle"></div>
        </label>
        
        <section class="filter-menu">
            <nav>
              <h1>Filtre:</h1>
            </nav>
        </section>
        <!-- accordion list-->
        <div class="accordion">
          <ul>
            <li>
              <input type="checkbox" id="checkbox1" />
              <label for="checkbox1"><h1>Titlu Proiect 1</h1></label>
              <section class="content">
                <p> 
                  Dea in ut in pariatur voluptate sit enim elit aute duis. Nisi amet deserunt culpa exercitation culpa. Ad deserunt laboris do magna exercitation officia aliqua aliquip in aliquip sit veniam ullamco occaecat. Anim mollit dolore excepteur dolore duis excepteur tempor do.
                </p>
              </section>
            </li>
            <li>
              <input type="checkbox" id="checkbox2" />
              <label for="checkbox2"><h1>Titlu Proiect 2</h1></label>
              <section class="content">
                <p>
                Dolore ea in ut in pariatur voluptate sit enim elit aute duis. Nisi amet deserunt culpa exercitation culpa. Ad deserunt laboris do magna exercitation officia aliqua aliquip in aliquip sit veniam ullamco occaecat. Anim mollit dolore excepteur dolore duis excepteur tempor do.
                </p>
              </section>
            </li>
            <li>
              <input type="checkbox" id="checkbox3" />
              <label for="checkbox3"><h1>Titlu Proiect 3</h1></label>
              <section class="content">
                <p> 
                  Dea in ut in pariatur voluptate sit enim elit aute duis. Nisi amet deserunt culpa exercitation culpa. Ad deserunt laboris do magna exercitation officia aliqua aliquip in aliquip sit veniam ullamco occaecat. Anim mollit dolore excepteur dolore duis excepteur tempor do.
                </p>
              </section>
            </li>
            <li>
              <input type="checkbox" id="checkbox4" />
              <label for="checkbox4"><h1>Titlu Proiect 4</h1></label>
              <section class="content">
                <p>
                Dolore ea in ut in pariatur voluptate sit enim elit aute duis. Nisi amet deserunt culpa exercitation culpa. Ad deserunt laboris do magna exercitation officia aliqua aliquip in aliquip sit veniam ullamco occaecat. Anim mollit dolore excepteur dolore duis excepteur tempor do.
                </p>
              </section>
            </li>
          </ul>
        </div>
      </main>
      <footer class="flex-wrapper-row flex-content-center">
        <a href="#"><div class="triangle" direction="left"></div></a>
        <p>Page 1 out of 1</p>
        <a href="#"><div class="triangle" direction="right"></div></a>
      </footer>
  </body>
</html>