<!DOCTYPE html>
<html lang="ro">
  <head>
    <link rel="stylesheet" href="../assets/css/meniuri.css">
    <link rel="stylesheet" href="../assets/css/mlStyle.css">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acatism Project-List</title>
  </head>
  <body class="flex-wrapper-col Site">
      <!-- in this page you will be able to see the project-list -->
      <!-- meniu from Daniel -->
      <header>
        <div class="header">
          <ul class="meniu">
            <a href="#"><i class="fas fa-home"></i> Home</a>
            <a href="#"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
            <a href="#">Proiectul meu</a></li>
            <a href="#"><i class="far fa-newspaper"></i> Newsfeed</a>
            <a href="#">Logout</a></li>
            <a href="#"><i class="fas fa-cog"></i> Setari</a> 
          </ul>
        </div>
      </header>
      <main id="Site-content" class="flex-wrapper-row">
        <input type="checkbox" id="show-filters-checkbox"/>
        <label for="show-filters-checkbox" id="show-filters">
            <div class="triangle"></div>
        </label>
        
        <section class="filter-menu">
            <form action="" method="GET">
              <h1>Filtre:</h1>
              <ul>
                <li>
                  <h1>Profesori:</h1>
                  <input type="text" name="" id="nume-prof" placeholder="Nume">
                  <br>
                  <input type="text" name="" id="prenume-prof" placeholder="Prenume">
                  <br>
                  <h2>Grad:</h2>
                  <select name="" id="select-grad">
                    <option value="">
                      Lector
                    </option>
                    <option value="">
                      Conferentiar
                    </option>
                    <option value="">
                      Profesor
                    </option>
                  </select>

                </li>
                <li>
                  <h1>Proiect:</h1>
                  <input type="text" name="" id="nume-proiect" placeholder="Titlu">
                  <br>
                </li>
                <li>
                  <h1>Tags:</h1>
                  <ul class="tag-area">
                  <li>
                    <input type="checkbox" id="tag-checkbox1" class="tag-checkbox">
                    <label for="tag-checkbox1" class="tag">ML</label>
                  </li>
                  <li>
                    <input type="checkbox" id="tag-checkbox2" class="tag-checkbox">
                    <label for="tag-checkbox2" class="tag">Graph Theory</label>
                  </li>
                  <li>
                    <input type="checkbox" id="tag-checkbox3" class="tag-checkbox">
                    <label for="tag-checkbox3" class="tag">DataBases</label>
                  </li>
                  <li>
                    <input type="checkbox" id="tag-checkbox4" class="tag-checkbox">
                    <label for="tag-checkbox4" class="tag">AR/VR</label>
                  </li>
                  <li>
                    <input type="checkbox" id="tag-checkbox5" class="tag-checkbox">
                    <label for="tag-checkbox5" class="tag">FAI</label>
                  </li>
                  </ul>
              </ul>
              <input class="btn" type="submit" name="" value="Filtreaza">
            </form>
        </section>
        <!-- accordion list-->
        <div class="accordion">
          <ul>
            <li>
              <input type="checkbox" id="checkbox1" />
              <label for="checkbox1" class="flex-wrapper-row flex-content-center">
                <h1>Varlan Cosmin - Aplicatie android pentru realizarea fotografiilor 3D (sfera)</h1>
                <form action="" method="GET"><input class="btn" type="submit" name="" value="Aplica"></form>
              </label>
              <section class="content">
                <p>
                  Aceasta aplicatie va face poze 3D precum masina de la google.
                </p>
              </section>
            </li>
          </ul>
        </div>
      </main>
      <footer class="flex-wrapper-row flex-content-center">
        <a href="#"><div class="triangle" direction="left"></div></a>
        <p>Page 1 out of 1</p>
        <a href="#"><div class="triangle" direction="right"></div></a>
      </footer>
  </body>
</html>