<!DOCTYPE html>
<html lang="ro">

<head>
    <link rel="stylesheet" href="../assets/css/dam.css">
    <link rel="stylesheet" href="../assets/css/meniuri.css">
    <link rel="stylesheet" href="../assets/css/utils.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="shortcut icon" type="image/png" href="../assets/images/jerry.png"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project repository</title>
</head>

<body>
    <div class="header">
        <ul class="meniu">
            <a href="#"><i class="fas fa-home"></i> Home</a>
            <a href="#"><i class="fas fa-list-ul"></i> Lista </a>
            <a href="#">Proiecte</a></li>
            <a href="#">Register</a></li>
            <a href="#">Logout</a></li>
            <a href="#"><i class="fas fa-cog"></i> Setari</a>
        </ul>
    </div>

    <main>
        <img class="flex-wrapper-row image_center" src="../assets/images/repo.png"/>
    </main>
</body>

</html>