<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Acatism - Home</title>
    <meta name="description" content="Acatism Homepage">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="../assets/css/meniuri.css">
    <link rel="stylesheet" href="../assets/css/mlStyle.css">
    <link rel="stylesheet" href="../assets/css/message.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>
</head>

<body>
    <header>
        <div class="header">
  <ul class="meniu">
   <a href="#"><i class="fas fa-home"></i> Home</a>
   <a href="#"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
   <a href="#">Proiectele mele</a></li>
   <a href="#">Add event</a></li>
   <a href="#"><i class="far fa-newspaper"></i> Newsfeed</a>
   <a href="#">Logout</a></li>
   <a href="#"><i class="fas fa-cog"></i> Setari</a> 
   </ul>
  </div>
    </header>
    <main id="Site-content" class="flex-wrapper-row">
        <form>
            <li>
                <!-- in loc de destinatari e sending message to profulescu in cealalta pagina -->
                <h1>Destinatari:</h1>
                <ul class="name-area">
                    <li>
                        <input type="checkbox" id="tag-checkbox1" class="tag-checkbox">
                        <label for="tag-checkbox1" class="tag">Sergiu Salceanu</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tag-checkbox2" class="tag-checkbox">
                        <label for="tag-checkbox2" class="tag">Daniel Iacob</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tag-checkbox3" class="tag-checkbox">
                        <label for="tag-checkbox3" class="tag">Lucian Ilea</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tag-checkbox4" class="tag-checkbox">
                        <label for="tag-checkbox4" class="tag">Nicolae Tesla</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tag-checkbox5" class="tag-checkbox">
                        <label for="tag-checkbox5" class="tag">Lipan Matei</label>
                    </li>
					<li>
                        <input type="checkbox" id="tag-checkbox6" class="tag-checkbox">
                        <label for="tag-checkbox6" class="tag">Nume 6</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tag-checkbox7" class="tag-checkbox">
                        <label for="tag-checkbox7" class="tag">Urmatorul Nume</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tag-checkbox8" class="tag-checkbox">
                        <label for="tag-checkbox8" class="tag">Lucian Ilea</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tag-checkbox9" class="tag-checkbox">
                        <label for="tag-checkbox9" class="tag">Test</label>
                    </li>
                    <li>
                        <input type="checkbox" id="tag-checkbox10" class="tag-checkbox">
                        <label for="tag-checkbox10" class="tag">FAI</label>
                    </li>
                </ul>
                <h1>Subiect:</h1>
                <p><input type="text" required = true name="title"></p>
                <h1>Continut:</h1>
                <p><textarea class = "bigtextinput" required = true></textarea></p>
                <p><input value = "trimite mesaj" type="submit" class="styled"></input></p>
            </li>
        </form>
    </main>
</body>

</html>