<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Acatism - Home</title>
    <meta name="description" content="Acatism Homepage">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="../assets/css/meniuri.css">
    <link rel="stylesheet" href="../assets/css/project-list.css">
    <link rel="stylesheet" href="../assets/css/message.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>
</head>

<body>
    <header>
        <div class="header">

            <h2 class="logo">MENIU</h2>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fas fa-ellipsis-h"></i>
            </label>


            <nav class="meniu">
                <a href="./home/home_profesor.html"><i class="fas fa-home"></i> Home</a>
                <a href="./project-list/project-list-professor.html"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
                <a href="./my-projects.html">Proiectele mele</a>
                <a href="#">Add event</a>
                <a href="./newsfeed/newsfeed-professor.html"><i class="far fa-newspaper"></i> Newsfeed</a>
                <a href="./send_message/send_message_profesor.html"><i class="far fa-envelope"></i> Send message</a>
                <a href="./home/home_nelogat.html">Logout</a>
                <a href="./setari/setari-profi.html"><i class="fas fa-cog"></i> Setari</a>


                <label for="chk" class="hide-menu-btn">
                    <i class="fas fa-times"></i>
                </label>

            </nav>
        </div>
    </header>
    <main class = "centerContent">
        <form>

            <h1>Tip Alerta:</h1><br>
            <input type="radio" name="tip" value="deadline"><small>Deadline</small>
            <input type="radio" name="tip" value="intalnire"><small>Intalnire</small>
            <input type="radio" name="tip" value="consultatii"><small>Consultatii</small>
            <input type="radio" name="tip" value="altele" checked><small>Altele</small>
            <br>
            <h1>Importanta:</h1><br>
            <input type="radio" name="importanta" value="mica" checked><small>Mica</small>
            <input type="radio" name="importanta" value="medie"><small>Medie</small>
            <input type="radio" name="importanta" value="mare"><small>Mare</small>
            <br>
            <h1>Nume Alerta:</h1><br>
            <input type="text" required name="title">
            <br>
            <h1>Descriere:</h1><br>
            <textarea class="bigtextinput"></textarea>
            <br>
            <h1>Data de Inceput: </h1><input type="date" name="startdate"><br>
            <h1>Data de Terminare:</h1> <input type="date" name="enddate"><br>
            <br>
            <h1>Ora de Inceput: </h1><input type="time" name="starttime"><br>
            <h1> Ora de Terminare:</h1> <input type="time" name="endtime">
            <br>
            <h1>Frecventa: </h1>
            <input type="radio" name="frecv" value="odata" checked><small>O singura data</small>
            <input type="radio" name="frecv" value="zilnic"><small>Zilnic</small>
            <input type="radio" name="frecv" value="saptamanal"><small>Saptamanal</small>
            <input type="radio" name="frecv" value="lunar"><small>Lunar</small>
            <br>
            <h1>Numar Repetitii: <input type="number" name="repeats" min=1></h1>
            <br><br>
            <input value="seteaza alerta" type="submit" class="styled">


        </form>
    </main>
</body>

</html>