<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Acatism - Home</title>
    <meta name="description" content="Acatism Homepage">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="../assets/css/meniuri.css">
    <link rel="stylesheet" href="../assets/css/project-list.css">
    <link rel="stylesheet" href="../assets/css/message.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>
</head>

<body>
    <header>
        <div class="header">

            <h2 class="logo">MENIU</h2>
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fas fa-ellipsis-h"></i>
            </label>


            <nav class="meniu">
                <a href="./home/home_profesor.html"><i class="fas fa-home"></i> Home</a>
                <a href="./project-list/project-list-professor.html"><i class="fas fa-list-ul"></i> Lista Proiecte</a>
                <a href="./my-projects.html">Proiectele mele</a>
                <a href="#">Add event</a>
                <a href="./newsfeed/newsfeed-professor.html"><i class="far fa-newspaper"></i> Newsfeed</a>
                <a href="./send_message/send_message_profesor.html"><i class="far fa-envelope"></i> Send message</a>
                <a href="./home/home_nelogat.html">Logout</a>
                <a href="./setari/setari-profi.html"><i class="fas fa-cog"></i> Setari</a>


                <label for="chk" class="hide-menu-btn">
                    <i class="fas fa-times"></i>
                </label>

            </nav>
        </div>
    </header>
    <main id="Site-content" class="flex-wrapper-row">
        <form>

                    <h1>Tip Alerta:</h1><br>
                    <input type="radio" name="tip" value="deadline">Deadline
                    <input type="radio" name="tip" value="intalnire">Intalnire
                    <input type="radio" name="tip" value="consultatii">Consultatii
                    <input type="radio" name="tip" value="altele" checked>Altele
                    <br>
                    <h1>Importanta:</h1><br>
                    <input type="radio" name="importanta" value="mica" checked>Mica
                    <input type="radio" name="importanta" value="medie">Medie
                    <input type="radio" name="importanta" value="mare">Mare
                    <br>
                    <h1>Nume Alerta:</h1><br>
                    <input type="text" required name="title">
                    <br>
                    <h1>Descriere:</h1><br>
                    <textarea class="bigtextinput"></textarea>
                    <br>
                    <h1>Data de Inceput: </h1><input type="date" name="startdate">
                    <h1>Data de Terminare:</h1> <input type="date" name="enddate">
                    <br>
                    <h1>Ora de Inceput: </h1><input type="time" name="starttime">
                    <h1> Ora de Terminare:</h1> <input type="time" name="endtime">
                    <br>
                    <h1>Frecventa: </h1>
                    <input type="radio" name="frecv" value="odata" checked>O singura data
                    <input type="radio" name="frecv" value="zilnic">Zilnic
                    <input type="radio" name="frecv" value="saptamanal">Saptamanal
                    <input type="radio" name="frecv" value="lunar">Lunar
                    <br>
                    <h1>Numar Repetitii: <input type="number" name="repeats" min=1></h1>
                    <br>
                    <input value="seteaza alerta" type="submit" class="styled">


        </form>
    </main>
</body>

</html>